.book-list-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.search-input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}
.filter-dropdown {
  width: 50%;
  padding: 10px;
  margin: 10px 0 20px;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}
@media screen and (max-width: 600px) {
  .book-list-container {
    padding: 10px;
  }

  .search-input {
    font-size: 0.95rem;
    padding: 8px;
    margin-bottom: 15px;
  }

  .filter-dropdown {
    width: 100%;         
    font-size: 0.95rem;
    padding: 8px;
  }

  .book-grid {
    gap: 15px;
  }
}
